body{
    background: url("../img/bg.jpg");
}
.top .bg-dark {
    background-color: #000 !important;
}

.logo{
    width: 100px;
    height: auto;
}
.content .bg {
    margin-right: auto;
    margin-left: auto;
    background: #d4edda;
    padding:16px 5px;
}
.footer .container .copyright{
    margin-right: auto;
    margin-left: auto;
    background:#000;
    padding:40px;
}
.footer p{
    color:#fff;
}